body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0px;
    background-color: #f4f4f4;
    color: #333;
}

.section {
    flex: 1;
    margin: 10px;
    background-color: #FEFDED;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 4px 5px 15px black;
}

h1,
h2 {
    text-align: center;
    font-weight: bold;
    background-color: #ff7e5f;
    color:black;
    font-family: "Poppins", sans-serif;
    padding: 18px;
    border-radius: 10px;
    box-shadow: 4px 5px 15px black;
    margin-bottom: 1rem;
}

form {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form input[type="text"],
form input[type="number"],
form button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

form button {
    background-color: #ff7e5f;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #ff7e5f;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
}

table th, table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

table th {
    background-color: #ff7e5f;
    color: #fff;
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}

button {
    padding: 5px 10px;
    margin-right: 5px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}

button:hover {
    opacity: 0.8;
}

button[onclick*="editTeam"] {
    background-color: #4CAF50; 
    color: white;
}

button[onclick*="deleteTeam"] {
    background-color: #f44336; 
    color: white;
}
